@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
}

main {
  background-color: hsl(217deg, 54%, 11%);
  width: 300px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.nftCard {
  overflow: hidden;
  background-color: hsl(216deg, 50%, 16%);
  width: 300px;
  height: 90vh;
  border-radius: 10px;
}

.imgContent {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.imgContent .nftImg {
  width: 270px;
  border-radius: 5px;
}

.textContent {
  color: white;
  font-family: "Outfit", sans-serif;
}
.textContent h3 {
  font-weight: 600;
}
.textContent p {
  color: hsl(215deg, 51%, 70%);
}
.textContent .descContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textContent .descContent #ethcolor {
  color: hsl(178deg, 100%, 50%);
}
.textContent .descContent p {
  display: flex;
  gap: 5px;
}

.footerCard {
  font-family: "Outfit", sans-serif;
  display: flex;
  border-top: 1px solid hsl(215deg, 32%, 27%);
  color: white;
  align-items: center;
  height: 10vh;
}
.footerCard .descFooter {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: -30px;
  font-size: 15px;
}
.footerCard .descFooter p {
  margin-bottom: 1px;
}
.footerCard .descFooter .p-colorFooter {
  color: hsl(215deg, 51%, 70%);
}
.footerCard .descFooter .footerAvatar {
  width: 40px;
}

@media screen and (min-width: 390px) {
  body {
    height: 100vh;
  }
  main {
    height: 100vh;
  }
  .nftCard {
    overflow: hidden;
    background-color: hsl(216deg, 50%, 16%);
    width: 300px;
    height: 73vh;
    border-radius: 10px;
  }
  .imgContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
  }
  .imgContent .nftImg {
    width: 350px;
    border-radius: 5px;
  }
  .footerCard {
    height: 10vh;
  }
  .footerCard .descFooter {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .nftCard {
    overflow: hidden;
    background-color: hsl(216deg, 50%, 16%);
    width: 300px;
    height: 45vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .imgContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
  }
  .imgContent .nftImg {
    width: 380px;
    border-radius: 5px;
  }
  .textContent {
    color: white;
    font-family: "Outfit", sans-serif;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .textContent h3 {
    font-weight: 600;
    font-size: 33px;
  }
  .textContent p {
    color: hsl(215deg, 51%, 70%);
    font-size: 22px;
  }
  .footerCard {
    position: absolute;
    bottom: 29%;
    right: 8%;
  }
  .footerCard .descFooter {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .nftCard {
    overflow: hidden;
    background-color: hsl(216deg, 50%, 16%);
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
  }
  .textContent {
    color: white;
    font-family: "Outfit", sans-serif;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .textContent h3 {
    font-weight: 600;
    font-size: 40px;
  }
  .textContent p {
    color: hsl(215deg, 51%, 70%);
    font-size: 25px;
  }
  .textContent .descContent {
    display: flex;
    justify-content: space-evenly;
    gap: 180px;
  }
  .textContent .descContent p {
    display: flex;
    gap: 20px;
  }
  .textContent .descContent p .iconp {
    width: 20px;
  }
  .imgContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 80vh;
  }
  .imgContent .nftImg {
    width: 480px;
    border-radius: 5px;
  }
  .footerCard {
    position: absolute;
    bottom: 12%;
    right: 4%;
    width: 470px;
  }
  .footerCard .descFooter {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .textContent {
    color: white;
    font-family: "Outfit", sans-serif;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .textContent h3 {
    font-weight: 600;
    font-size: 50px;
  }
  .textContent p {
    color: hsl(215deg, 51%, 70%);
    font-size: 30px;
  }
  .imgContent {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 70vh;
  }
  .imgContent .nftImg {
    width: 480px;
    border-radius: 5px;
  }
  .footerCard {
    position: absolute;
    bottom: 15%;
    right: 6%;
    width: 570px;
  }
  .footerCard .descFooter {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
